In [25]:
mixed_variable=["sibaram",["apple","orange","banana"],4.56,(1,2,3)]

In [27]:
var1=''
var2='[DS,ML,python]'
var3=['DS','ML','Python']
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [34]:
a=20
b=4
print(a/b)
print(a%b)
print(a//b)
print(a**b)

5.0
0
5
160000

In [51]:
l=["sibaram",1,2,3,4,3.2,2.5,3.6,(4,5,6),{"apple","banan","orange"}]
for i in l:
    print(i)
    print(type(i))

sibaram
<class 'str'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
3.2
<class 'float'>
2.5
<class 'float'>
3.6
<class 'float'>
(4, 5, 6)
<class 'tuple'>
{'apple', 'banan', 'orange'}
<class 'set'>

In [56]:
a=50
b=5
count=0
while(a%b==0):
    a=a//b
    count+=1
    print(count)

1
2

In [9]:
l1=[3,5,6,7,9,12,14,15,16,18,20,22,24,25,27,28,30,31,32,33,35,36,37,38,39]
for i in l1:
    if i % 3==0:
        print(str(i)+"  is divisible by 3 ")
    else:
        print(str(i)+"  is not divisible by 3")

3  is divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
9  is divisible by 3
12  is divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
18  is divisible by 3
20  is not divisible by 3
22  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3
27  is divisible by 3
28  is not divisible by 3
30  is divisible by 3
31  is not divisible by 3
32  is not divisible by 3
33  is divisible by 3
35  is not divisible by 3
36  is divisible by 3
37  is not divisible by 3
38  is not divisible by 3
39  is divisible by 3

In [12]:
my_name ="siba"
my_list=[5,6,6,963,9.5,"pwskill","my lear"]
my_list[4]="ram"
print(my_list) #list are mutable because 
#my_name[2]=i this line shows error because string are mutable we cannot modify 
print(my_name)

[5, 6, 6, 963, 'ram', 'pwskill', 'my lear']

TypeError: 'str' object does not support item assignment